@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
    padding: 0px;
    margin: 0px;
    min-height: calc(100vh - 40px); /* 100vh - vertical margin */
}

body {
    background: #ddd;

    display: grid;
    grid-template-columns: 600px 1fr;
    grid-template-rows: calc(100vh - 40px); /* 100vh - vertical margin */
    column-gap: 20px;
    margin: 20px;

    .page {
        font-family: "Nunito", sans-serif;
        font-optical-sizing: auto;
        font-weight: 650;
        font-style: normal;
        font-size: 1.1rem;
        color: #444;

        background: #eee;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;

        grid-column: 1 / 2;

        &:focus-within {
            box-shadow: 0 0 0 2px #fff;
        }

        .editor {
            outline: none;
            margin: 20px 0px 20px 20px;
            padding-right: 20px;
            overflow-y: scroll;
        }
    }

    .settings {
        font-family: "Nunito", sans-serif;
        font-optical-sizing: auto;
        font-weight: 650;
        font-style: normal;
        font-size: 1.1rem;
        color: #444;
        
        .list {
            margin-left: 20px;
        }

        .gist-link {
            position: absolute;
            bottom: 20px;
            right: 20px;
        }
    }

}